/* styles.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/img0.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Otros estilos */
